.App--score {
  margin: auto;
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: right;
  font-size: 32px;
  font-weight: 400;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  border-radius: 4px;
  background-color: #111;
  width: 380px;
  color: gold;
}

.App--profiler {
  margin: auto;
  width: 380px;
  color: #666;
}

.App--score-label {
  float: left;
  color: #666;
  font-weight: 500;
}

.mobile-hidden {
  @media(max-width: 501px) {
    display: none;
  }
}

.mobile-visible {
  @media(max-width: 500px) {
    display: none;
  }
}

.desktop-hidden {
  @media(min-width: 501px) {
    display: none;
  }
}

.desktop-visible {
  @media(min-width: 500px) {
    display: none;
  }
}
