body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid-controls {
  text-align: center;
  margin: 20px auto;
}

.grid-controls-buttons {
  margin-bottom: 20px;
}

.grid {
  margin: auto;
  border: solid 2px #111;
  width: 454px;
}

.grid-row {
  height: 15px;
}

.grid-tile {
  background-color: #2e3338;
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: solid 1px #111;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.grid-tile:hover {
  background-color: #484D52;
}
